:root{
    --primary-color: #2d2d42;
    --accent-color: #f8f32d;
    --secondary-color: #8d99ae;
    --bg-color: #000000;
    --txt: #ffffff;
}

body{
    color: #fff !important;

}
nav{
    background-color: var(--primary-color);
    color: var(--txt) !important;
    height: 150px;
}
nav li a:hover{
    background-color: var(--accent-color);
}


.grid-box {
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

#logo{
    width:150px;
}
