:root{
    --primary-color: #2d2d42;
    --accent-color: #f8f32d;
    --secondary-color: #8d99ae;
    --bg-color: #000000;
    --txt: #ffffff;
}

nav{
    background-color: var(--primary-color);
    height: 150px;
}

.nav_link{
    font-size: 310px; 
}

nav li a{
    color: var(--txt) !important;
}
nav li a:hover{
    color: var(--accent-color) !important;
}


.grid-box {
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

#logo{
    width:150px;
}
